<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pch.user.dao.CommodityMapper">

  <insert id="insertCommodity" parameterType="com.pch.user.po.CommodityPO">
    insert into tb_commodity (id, `name`, price, reserve)
    values (#{id}, #{name}, #{price}, #{reserve})
  </insert>

  <select id="queryAllCommodity" resultType="com.pch.user.po.CommodityPO">
    select * from tb_commodity
  </select>

</mapper>